# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis

# Poetry
poetry.lock

# Environment files
.env
.env.*
*.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Documentation
docs/_build
*.md

# Testing
tests/
test/
*.test

# Logs
logs/
*.log

# Temporary files
tmp/
temp/
*.tmp
*.bak
.cache

# OS
.DS_Store
Thumbs.db

# Development files
Dockerfile*
compose*.yml
docker-compose*.yml

# Project specific
ynab-sdk-python/
ynab-sdk-js/
.env.sample

# README (we want this in the image)
!README.md